
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE HTML>
<html>
<head>
    <title>Iletisim | Travel Trip Proje</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/Template/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/Template/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    
    
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>Iletisim Bilgileri</h3>
                <p> Doğuştan; netliklerini sağlayan, içlerindeki okuyucunun kullanımıdır. Araştırmalar, okuyucuların diğerlerinden daha sık okuduğunu göstermiştir. Netlik aynı zamanda okuyucuların değişen alışkanlıklarını takip eden dinamik bir süreçtir. Ne kadar Gotik edebiyatın, ne kadar Nu'nun</p>
            </div>
            <div class="form">
                <form class="cmxform" id="contactForm" method="post">
                    <div>
                        <input type="text" class="textbox" value="Name:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Phone:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
                    </div>
                    <div>
                        <p><span class="read">Submit</span></p>
                    </div>
                </form>
            </div>
            <div class="form1">
                <div>
                    <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
                </div>
            </div>
            <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Adres</h3>
                        <p> Kayseri/Merkez</p>
                        <p>Telefon:0352 123 456 12 12</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:muhammetalisongur@mail.com">muhammetalisongur@mail.com</a></p>
                    </div>
                    
                </div>
                
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
</body>
</html>
