
@using TravelTripProje.Models.Entity
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Blog Listesi</h2>
<br />
<table id="tbl" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Baslik</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Guncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.ID</th>
                <th>@item.Baslik</th>
                <th>@item.Tarih.ToShortDateString()</th>
                <th><a href="/Admin/BlogSil/@item.ID" class="btn btn-danger">Sil</a></th>
                <th><a href="/Admin/BlogGetir/@item.ID" class="btn btn-warning">Guncelle</a></th>
                <th><a href="/Blog/BlogDetay/@item.ID" class="btn btn-dark">Detay</a></th>
            </tr>

        }
    </tbody>
</table>
<a href="/Admin/YeniBlog" class="btn btn-primary">Yeni Blog Ekle</a>

@*DataTable: https://datatables.net/*@
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.2/i18n/tr.json"
            }
        });
    });
</script>