@using PagedList
@using PagedList.Mvc
@using TravelTripProje.Models.Entity
@model IPagedList<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Blog Listesi</h2>
<br />
<table id="tbl" class="table table-bordered">
    <thead>
        <tr>
            <th style=" text-align: center; height: 3%; width: 3%;">ID</th>
            <th>Baslik</th>
            <th style=" text-align: center;  width: 9%;">Tarih</th>
            <th style=" text-align: center;width: 7%;">Sil</th>
            <th style=" text-align: center;  width: 9%;">Guncelle</th>
            <th style=" text-align: center;  width: 9%;">Detaylar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th style=" text-align: center; height: 3%; width: 3%;">@item.ID</th>
                <th>@item.Baslik</th>
                <th style=" text-align: center;  width: 9%;">@item.Tarih.ToShortDateString()</th>
                <th style=" text-align: center;width: 7%;"><a href="/Admin/BlogSil/@item.ID" class="btn btn-danger">Sil</a></th>
                <th style=" text-align: center;  width: 9%;"><a href="/Admin/BlogGetir/@item.ID" class="btn btn-warning">Guncelle</a></th>
                <th style=" text-align: center;  width: 9%;"><a href="/Blog/BlogDetay/@item.ID" class="btn btn-dark">Detay</a></th>
            </tr>

        }
    </tbody>
</table>
@Html.PagedListPager(Model, _sayfaNo => Url.Action("Index", "Admin", new { SayfaNo = _sayfaNo }))
<a href="/Admin/YeniBlog" class="btn btn-primary">Yeni Blog Ekle</a>
